@media (min-width: 769px) {
    .site-header {
        background-image: url(../../../img/obst/erdbeere/Hintergrund.jpeg);
    }
}
.navbar a:hover, .navbar .navbar-menu-topic:hover {
    background-color: var(--color-accent-red);
}
.navbar a.active, .navbar .navbar-menu-topic.active {
    background-color: var(--color-accent-red);
}
